---
import Drinks from "./drinks.astro";
---

<div class="drinks-container">
  <Drinks input={false}></Drinks>
</div>

<style>
	.drinks-container {
    display: flex;
    justify-content: center;
  }
</style>