.link {

  text-decoration: none;
  color: #f0f8ff;
  width: 100%;
  text-align: center;
}
.link-container {
  width: 100vh;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container:hover {
  background-color: rgb(41, 41, 41);
  cursor: pointer;
  
}

.links-hidden {
  transform: translateY(-300px);
  transition: all .7s;
  width:  100%;
  display: flex;
  font-size: larger;
  align-items: center;
  flex-direction: column;
} 

.links {
  transform: translateY(0);
  transition: all .7s;
  width:  100%;
  display: flex;
  font-size: larger;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0%;
  z-index: -1;
}

.icon {
  cursor: pointer;
  transition: all .2s ease-in;
  animation: spin .5s ease-in;

  position: absolute;
  left: 20%;
}

.icon-spiner {
  cursor: pointer;
  animation: spin-reverse .5s 1 ease-in-out ;
  transition: all .2s ease-in;
  position: absolute;
  left: 20%;
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }to {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .icon {
    left: auto;
  }
  
  .icon-spiner {
    left: auto;
  }
  
}