---
import Layout from "../layouts/Layout.astro"
import CreateCard from "../components/admin/createCard"
---

<main>
  <Layout title="Admin-BigBang">
    <CreateCard client:load></CreateCard>
  </Layout>
</main>

