---
import Drink from "./drink.astro";
---
<section class="drinks">
  <ul>

    <li><Drink name="cerveza" price={"2,50"}></Drink></li>
    <li><Drink name="cubata" price={"3,50"}></Drink></li>
    <li><Drink name="Sex on the beach" price={"5,50"} description='(Limón, aguacate, salmon)'></Drink></li>
    <li><Drink name="vino" price={"2,10"}></Drink></li>
    <li><Drink name="tercio" price={"1,50"}></Drink></li> 
  </ul>
</section>



<style>

  .drinks {
    width: 50%;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media (max-width: 768px) {
    .drinks {
      width: 95%;
    }
	}

</style>